/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    text-align: center;
}

/*pagetitle*/
.pagetitle {
    color: purple;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
}

/*Main*/
main {
    text-align: center;
}